* {
    margin: 0;
}

body {
    background-color: #292929;
    color: #FFFFFF;
}

nav {
    display: flex;
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

h3 {
    font-size: 20px;
    margin: auto 20px;
    padding: 40px;
}

.main-logo {
    height: 32px;
    width: 32px;
    padding: 40px;
}

.nav-divider {
    height: 100px;
    margin: auto 0;
    width: 0;
    border: #FFFFFF 2px solid;
}

.nav-desc {
    margin: auto 30px;
}

h4 {
    font-weight: 600;
    font-size: 14px;
}

h5 {
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
}

main {
    padding: 20px;
    margin-top: 50px;
}

.welcome-sec {
    padding: 20px;
    width: 90%;
    margin: auto;
    border-radius: 50px;
    border: 5px solid #292929;
    border-bottom-color: #2D85C4;

}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 100px;

    color: #FFFFFF;
    text-align: center;
}

.str-h1 {
    font-weight: 600;
}

.list {
    width: 80%;
    padding: 20px;
    background-color: #2d2d2d;
    margin: 120px auto;
    border-radius: 20px;
    border: 3px solid #2D85C4;
}

h1[class] {
    text-align: left;
    font-size: 35px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
}

.card {
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 32px;
    justify-items: center;
    padding: 20px 10px 10px;
}

.card * {
    margin: 0 auto;
    color: #292929;
    padding-left: 5%;
}

a {
    text-decoration: none;
    margin: auto;
    padding-top: 20px;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    color: #292929;
    padding-top: 10px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    padding: 10px 0;

    color: #292929;
}

.card img {
    height: 207px;
    width: 360px;
    padding-top: 18px;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .card img {
        height: 107px;
        width: 260px;
        padding-top: 18px;
        border-radius: 20px;
    }
}

.card-line {
    width: 90%;
    height: 0;
    border: 1px solid #292929;
}

.time {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;

    color: #292929;
    opacity: 0.5;
}

.card-inline {
    margin-top: 16px;
    display: flex;
}

.card-inline img {
    padding: 0;
    height: 24px;
    width: 24px;
}

.card-inline p {
    padding: 0;
}

#stories {
    display: none;
}

.text {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 80%;
    margin: auto;
    text-align: justify;
}

footer {
    padding-top: 100px;
}

.footer-h6 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.1);
    margin: auto 20px 20px auto;
}

